/* .vitepress/theme/custom.css */

.mermaid {
    display: flex;
    justify-content: center;
    margin: 2rem 0; /* 上下留点间距 */
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--vp-c-gray-1);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--vp-c-indigo-2);
}
